<div class="jumbotron text-center">
  <h2>Edit your Proposal</h2>
  <br/>

  <div class="form-horizontal form-group form-group-lg row">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        {{input type="text" value=title class="form-control" placeholder="Please enter a title" autofocus="autofocus"}}
        <br/>
        {{textarea value=description class="form-control" placeholder="Please enter a description"}}
        <br/>
        {{textarea value=activities class="form-control" placeholder="Please enter your activities/actions"}}
        <br/>
        {{input type="text" value=contact class="form-control" placeholder="Your contact information"}}
        <br/>
        {{input type="text" value=recipient class="form-control" placeholder="Who's the recipient"}}
        {{#if (eq isMicroBudget false)}}
        <br/>
        {{input type="text" value=recipient2 class="form-control" placeholder="Who's the second recipient"}}
        {{/if}}
        <br/>
        {{input type="text" value=value class="form-control" placeholder=(concat "The value (max. " maxBudget " Euros for a micro-grant)")}}
        <br/>
        {{#if (eq currentUser.user.id "1")}}
        {{input type="text" value=realvalue class="form-control" placeholder="How much money actually got transferred"}}
        <br/>
        {{/if}}
        {{#if isMicroBudget}}
        {{bootstrap-datepicker id="daypicker" value=startdate startDate=minimumProposalStartDate format="yyyy/mm/dd" autoclose=true class="form-control" placeholder="Start date of the proposal"}}
        {{else}}
        {{bootstrap-datepicker id="monthpicker" value=startdate startDate=minimumProposalStartDate format="yyyy/mm" minViewMode=1 autoclose=true class="form-control" placeholder="Which month to run this proposal in"}}
        {{/if}}
        <br/>
        {{bootstrap-datepicker id="enddaypicker" value=finisheddate startDate=minimumProposalStartDate format="yyyy/mm/dd" autoclose=true class="form-control" placeholder="When will you finish the proposed activities"}}
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-7 col-sm-4 col-md-3 col-md-offset-8">
        <button disabled={{isDisabled}} {{action 'saveProposal'}} class="btn btn-primary btn-lg btn-block">Save proposal</button>
      </div>
    </div>
  </div>

  {{#if progressMessage}}
    <div class="alert alert-info">{{progressMessage}}</div>
  {{/if}}
  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}
  {{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
  {{/if}}

</div>
