<div class="jumbo show-listing">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-0 col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-0">
      <h3 class="title">Title: <strong>{{proposal.title}}</strong></h3>
      <div class="left">
        <div class="detail">
          Recipient: <strong>{{proposal.recipient}}</strong>
        </div>
        <div class="detail">
          Starts: <strong>{{moment-from-now proposal.starts}}</strong> ({{format_time proposal.starts 'D.M.YYYY H:mm z'}})
        </div>
        <div class="detail">
          Ends: <strong>{{moment-from-now proposal.ends}}</strong> ({{format_time proposal.ends 'D.M.YYYY H:mm z'}})
        </div>
        <div class="detail">
          Value: <strong>{{proposal.value}}</strong> Euros
        </div>
      </div>
    </div>

    <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-1 col-md-offset-2 align-middle text-center">
      <br/>
      <h2><b>{{proposal.votes}}</b></h2> Votes
    </div>
  </div>

  <div>
    <br/>
    <h4>Description:</h4>
    <p class="description"><pre>{{proposal.description}}</pre></p>
    <br/>

    {{#if (eq currentUser.user.id "1")}}
      {{#if (eq proposal.moderated false)}}
        <br/>
        <button {{action 'moderate' proposal.id}} class="btn btn-primary btn-lg btn-block">Allow proposal</button>
      {{/if}}
      {{#link-to "proposals.edit" proposal.id tagName="button" class="btn btn-primary btn-lg btn-block" }}Edit proposal{{/link-to}}
    {{else}}
      {{#if (eq proposal.ended false)}}
        {{#if (eq currentUser.user.id proposal.user.id)}}
          {{#if (eq proposal_has_started false)}}
            {{#link-to "proposals.edit" proposal.id tagName="button" class="btn btn-primary btn-lg btn-block" }}Edit proposal{{/link-to}}
          {{/if}}
        {{else}}
          {{#if (not-eq currentUserVoted 0)}}
            {{#if (eq currentUserVoted 1)}}
              You've voted for this proposal!
            {{else}}
              You've voted against this proposal!
            {{/if}}
          {{else}}
            {{#if (eq proposal.granttype "large")}}
              <button {{action 'vote'}} class="btn btn-primary btn-lg btn-block">Vote for this proposal</button>
            {{else}}
              <button {{action 'vote'}} class="btn btn-primary btn-lg btn-block">Vote for this proposal</button>
              <button {{action 'voteDown'}} class="btn btn-primary btn-lg btn-block">Vote against this proposal</button>
            {{/if}}
          {{/if}}
        {{/if}}
      {{else}}
        This proposal has
        {{#if (eq proposal.accepted false)}}<b>not</b> {{/if}} been accepted!
      {{/if}}
    {{/if}}
  </div>
</div>
